.form-dialog-delete {
    display: none;
}

    .form-dialog-delete .dialog-model {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #000000;
        opacity: .4
    }

    .form-dialog-delete .dialog-delete {
        position: fixed;
        width: 351px;
        height: 108px;
        background-color: #ffffff;
        top: calc(50% - 130px);
        left: calc(50% - 168px);
        border-radius: 5px;
        border: 5px solid #0072bc;
    }
        .form-dialog-delete .dialog-delete .delete-confirm-title {
            background-color: #0072bc;
            height: 23px;
            padding-top: 0px;
            color: white;
        }

        .form-dialog-delete .dialog-delete .delete-confirm-text {
            margin-top: 8px;
            text-align: center;
        }
        .form-dialog-delete .dialog-delete .delete-confirm-button {
            margin-top: 31px;
            margin-left: 221px;
        }
        .form-dialog-delete .dialog-delete .delete-confirm-button .btn-yes-delete{         
            margin-right: 10px;
        }
    
