.form-dialog {
    display: none;
}

    .form-dialog .dialog-model {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #000000;
        opacity: .4
    }

.dialog {
    position: fixed;
    width: 660px;
    height: 400px;
    background-color: #ffffff;
    top: calc(50% - 200px);
    left: calc(50% - 300px);
    border-radius: 5px;
    border: 5px solid #0072bc;
}

    .dialog .dialog-titlebar {
        width: 100%;
        background-color: #0072bc;
        height: 30px;
        color: white;
    }

        .dialog .dialog-titlebar .title {
            float: left;
            line-height: 25px;
            padding-left: 4px;
        }

        .dialog .dialog-titlebar .btn-close {
            position: absolute;
            top: 5px;
            right: 5px;
            width: 16px;
            height: 16px;
            text-align: center;
            float: right;
            line-height: 13px;
            border-radius: 50%;
            font-weight: 500;
            background-color: #ffffff;
            color: #0072bc;
            cursor: pointer;
        }

            .dialog .dialog-titlebar .btn-close:hover {
                background-color: #ff0000;
                color: white;
            }

    .dialog .dialog-body {
        width: 100%;
        position: relative;
        padding-left: 10px;
        padding-top: 4px;
        line-height: 1.8;
    }
        .dialog .dialog-body input,select{
            border: 0.5px solid #ccc;
        }

        .dialog .dialog-body .general-infor {
        }

            .dialog .dialog-body .general-infor .left-general-infor {
                position: absolute;
                width: 490px;
            }

                .dialog .dialog-body .general-infor .left-general-infor .row {
                    display: flex;
                    margin-bottom: 2px;
                }

                    .dialog .dialog-body .general-infor .left-general-infor .row #employee-code {
                        margin-left: 19px;
                        width: calc(100% - 128px);
                    }

                    .dialog .dialog-body .general-infor .left-general-infor .row #employee-name {
                        margin-left: 17px;
                        width: calc(100% - 128px);
                    }

                    .dialog .dialog-body .general-infor .left-general-infor .row #dateofbirth {
                        margin-left: 59px;
                    }

                    .dialog .dialog-body .general-infor .left-general-infor .row .label-gender {
                        margin-left: 7px;
                    }

                    .dialog .dialog-body .general-infor .left-general-infor .row #gender {
                        margin-left: 18px;
                        width: calc(100% - 340px);
                    }

                    .dialog .dialog-body .general-infor .left-general-infor .row #employee-email {
                        margin-left: 67px;
                        width: calc(100% - 128px);
                    }

                    .dialog .dialog-body .general-infor .left-general-infor .row #phonenumber {
                        margin-left: 36px;
                        width: calc(100% - 128px);
                    }

                    .dialog .dialog-body .general-infor .left-general-infor .row .label-identityDate {
                        margin-left: 7px;
                        margin-right: 4px;
                    }
                    .dialog .dialog-body .general-infor .left-general-infor .row .identityDate {
                        margin-left: 9px;
                        width: calc(100% - 343px);
                    }

                    .dialog .dialog-body .general-infor .left-general-infor .row #identity-number {
                        margin-left: 46px;
                        width: 138px;
                    }

            .dialog .dialog-body .general-infor .row input#identity-place {
                margin-left: 25px;
                width: calc(100% - 125px);
            }

            .dialog .dialog-body .general-infor .right-general-infor {
                border: 0px solid #ccc;
                position: absolute;
                left: 511px;
                width: calc(100% - 536px);
                text-align: center;
                height: 148px;
            }
                .dialog .dialog-body .general-infor .right-general-infor .avatar-box {
                    background-color: aquamarine;
                    height: 101px;
                }

            .dialog .dialog-body .general-infor .identity-place {
                position: absolute;
                width: calc(100% - 31px);
                margin-top: 153px;
            }

        .dialog .dialog-body .work-infor {
            margin-top: 173px;
        }

            .dialog .dialog-body .work-infor .position-selected {
                margin-left: 87px;
                width: calc(100% - 138px);
                height: 22px;
            }

            .dialog .dialog-body .work-infor .department-selected {
                margin-left: 51px;
                width: calc(100% - 138px);
                height: 21px;
            }

            .dialog .dialog-body .work-infor .taxCode {
                width: 138px;
            }

            .dialog .dialog-body .work-infor .Salary {
                width: calc(100% - 360px);
            }
            .dialog .dialog-body .work-infor .joinDate {
                margin-left: 30px;
                width: calc(100% - 519px);
            }
            .dialog .dialog-body .work-infor .workStatus {
                margin-left: 6px;
                width: calc(100% - 354px);
            }

    .dialog .dialog-footer {
        display: flex;
        border: 1px solid #ccc;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 8px;
        height: 33px;
        align-items: center;
    }

        .dialog .dialog-footer .footer-left {
            position: absolute;
            left: 10px;
        }

            .dialog .dialog-footer .footer-left #btn_help {
                align-items: center;
                display: flex;
                border: 1px solid #ccc;
                width: 91px;
                height: 28px;
                cursor: pointer;
            }

                .dialog .dialog-footer .footer-left #btn_help:hover {
                    background-color: #808080;
                }

            .dialog .dialog-footer .footer-left .help_icon {
                background-image: url('/content/img/iconhelp.png');
                width: 22px;
                height: 23px;
                margin-left: 10px
            }

        .dialog .dialog-footer .footer-right {
            display: flex;
            position: absolute;
            right: 10px;
        }

            .dialog .dialog-footer .footer-right #btn_save {
                border: 1px solid #ccc;
                display: flex;
                align-items: center;
                width: 76px;
                height: 28px;
                cursor: pointer;
            }

                .dialog .dialog-footer .footer-right #btn_save:hover {
                    background-color: #808080;
                }

            .dialog .dialog-footer .footer-right .save_icon {
                background-image: url('/content/img/iconsprite.png');
                background-position: -1px -768px;
                width: 16px;
                height: 16px;
                margin-left: 10px
            }

            .dialog .dialog-footer .footer-right #btn_save_and_add {
                border: 1px solid #ccc;
                margin-left: 10px;
                display: flex;
                align-items: center;
                width: 126px;
                height: 28px;
                cursor: pointer;
            }

                .dialog .dialog-footer .footer-right #btn_save_and_add:hover {
                    background-color: #808080;
                }

            .dialog .dialog-footer .footer-right .save_and_add_icon {
                background-image: url('/content/img/iconsprite.png');
                width: 16px;
                height: 16px;
                background-position: -1px -737px;
                margin-left: 10px
            }

            .dialog .dialog-footer .footer-right #btn_close {
                border: 1px solid #ccc;
                margin-left: 10px;
                display: flex;
                align-items: center;
                width: 99px;
                height: 28px;
                cursor: pointer;
            }

                .dialog .dialog-footer .footer-right #btn_close:hover {
                    background-color: #808080;
                }

            .dialog .dialog-footer .footer-right .close_icon {
                background-image: url('/content/img/iconsprite.png');
                background-position: 0px -1952px;
                width: 16px;
                height: 16px;
                margin-left: 10px
            }

        .dialog .dialog-footer p {
            margin-left: 10px;
        }
