body {
    margin: 0px;
    font-family: 'tahoma_regular';
}

@font-face {
    font-family: 'fontello';
    src: url('../../content/fonts/fontello.woff') format('woff');
}
@font-face {
    font-family: 'tahoma_bold';
    src: url('../../content/fonts/tahoma_bold.woff') format('woff');
}
@font-face {
    font-family: 'tahoma_regular';
    src: url('../../content/fonts/tahoma_regular.woff') format('woff');
}
.main{
    width: calc(100% - 200px);
    background-color: aqua;
    margin-left: 200px;
    height: 100vh;
}

    .main .header {
        height: 50px;
        width: 100%;
        background-color: #0072bc;
        display: flex;
    }
    .main .header .account{
      display: flex;
    }
    .main .header .account .account-notify{
      background-image: url();
    }
    .main .header .account .account-avatar{
      width: 25px;
      height: 25px;
      background-image: url('/content/img/EmployeeImage.png');
      border-radius: 10px;
    }
    .main .header .account .account-name{
      background-image: url();

    }
    .main .content{
        width: 100%;
        height: calc(100% - 50px);
        background-color: burlywood;
    }
